@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(fonts/Lato-Regular.ttf);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0 ;
}
.content {
  display: grid;
  grid-template-rows: [header] 100px [navbar] 51px [slider] 665px 98px [category] 823px 100px [product] 982px 113px [feature] 529px 97px [subsrib] 438px 109px [footer] 428px;
  justify-content: center;
}
.wraper {
  width: 1146px;
  margin: auto auto;
}
header {
  display: flex;
  grid-row: header ;
  grid-column: 1 / span 12;
  border-bottom: 1px solid #838383;
}
.logo {
  display: flex;
  justify-self: start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 24px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 12px;
  height: 51px;
}
.logo img {
  margin-bottom: 8px;
  height: 59px;
  width: 51px;
  margin-right: 13px;
}
.logo h3 {
  margin: 0 auto;
  justify-self: start;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.logo h3 span {
  margin-left: -6px;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 900;
  color: #f16d7f;
}
nav {
  grid-row: navbar;
  display: flex;
  grid-column: 1 / span 12;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 19px;
  margin-bottom: 22px;
}
nav ol {
  display: flex;
  margin: 0 0;
}
nav li:hover {
  border-bottom: 3.4px solid #ef5b70;
}
nav li {
  display: flex;
  margin: 0 23px;
  list-style-type: none;
  padding-top: 11px;
  padding-bottom: 11px;
}
nav li a {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.drop {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  width: 87px;
  height: 38px;
  margin-top: 32px;
  margin-left: 37px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
}
.drop span {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #838383;
}
.dropDown {
  display: none;
  position: absolute;
  top: 68px;
  left: 428px;
  right: 910px;
  width: 262px;
  height: 530px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
}
.dropDown h3 {
  margin: 19px auto;
  margin-bottom: 0px ;
  margin-left: 15px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}
.dropDown h3:last-of-type {
  margin-top: 20px;
  margin-bottom: 0px ;
}
.dropDown li {
  margin-left: 15px;
  list-style-type: none;
  margin-bottom: 6px;
}
.dropDown li a {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
}
.dropDown hr {
  margin: 10px 13px;
  width: 236px;
  height: 1px;
  background-color: #e8e8e8;
}
.search {
  display: grid;
  grid-auto-flow: column;
}
.search form {
  margin-top: 32px;
}
.search form input[type=search] {
  width: 281px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}
.search form button {
  width: 36px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  margin-left: -6px;
}
input[type=search]::placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}
.cart {
  display: flex;
  flex-direction: row;
  margin-left: 309px;
  align-items: center;
}
.cart button {
  width: 40px;
  height: 39px;
  background-color: #ffffff;
  padding: 0 5px;
  border: none;
}
.cart button img {
  width: 32px;
  height: 29px;
}
.cart button:focus {
  background-color: #ffffff;
}
.cart p {
  align-self: flex-start;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 75%;
  text-align: center;
}
.account button {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border: none;
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
main {
  display: grid;
  grid-template-columns: repeat(12, 68px);
  grid-column-gap: 30px;
  grid-column: 1 / span 12;
  grid-row-start: slider;
  grid-row-end: subsribe-copy;
  grid-template-rows: [slider] 665px 98px [category] 823px 100px [product] 982px 113px [feature] 529px 97px [subsrib] 438px ;
}
main .slider {
  grid-row: slider ;
  grid-column: 1 / span 12;
  background-image: url(img/slider_index.png);
  height: 665px;
  background-origin: content-box;
  background-size: 100%;
}
main .sliderCont {
  grid-row: slider ;
  grid-column: 1 / span 6;
}
main .sliderCont img {
  position: relative;
  top: 110px;
  right: 20px;
  width: 12px;
  height: 92px;
}
main .sliderCont h1 {
  margin: 0 auto;
  /* Text styles for "THE BRAND'" */
  /* 
Text styles for "THE BRAND'"
 */
  margin-top: -1.5px;
  font-family: Lato;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
main .sliderCont h3 {
  margin: 0 auto;
  margin-top: -5px;
  font-family: Lato;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
main .sliderCont h3 span {
  padding-left: 0.2em;
  font-size: 40px;
  color: #f16d7f;
}
main .category {
  display: grid;
  grid-row: category;
  grid-column: 1 / span 12;
  grid-template-rows: repeat(3, 261px);
  grid-row-gap: 20px;
  grid-template-columns: repeat(12, 68px);
  grid-column-gap: 30px;
}
main .category .banner1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
  background-image: url(img/banner-hotDealMan.png);
}
main .category .banner1 h1 {
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding-left: 19px;
  padding-top: 16px;
}
main .category .banner1 h1 span {
  line-height: 1.2;
  font-family: Lato;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 30px;
  color: #f16d7f;
}
main .category .banner2 {
  grid-column: 7 / span 6;
  grid-row: 1;
  background-image: url(img/banner-hotDealWoman.png);
}
main .category .banner2 h1 {
  width: 162px;
  height: 82px;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding-left: 19px;
  padding-top: 16px;
}
main .category .banner2 h1 span {
  line-height: 1.2;
  font-family: Lato;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 30px;
  color: #f16d7f;
}
main .category .banner3 {
  grid-column: 1 / span 6;
  grid-row: 3;
  background-image: url(img/banner-wallet.png);
}
main .category .banner3 h1 {
  width: 225px;
  height: 82px;
  margin-top: 25px;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding-left: 19px;
  padding-top: 16px;
}
main .category .banner3 h1 span {
  line-height: 1.2;
  font-family: Lato;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 30px;
  color: #f16d7f;
}
main .category .banner4 {
  grid-column: 7 / span 6;
  grid-row: 2 / span 2;
  background-image: url(img/banner-hotDealKids.png);
}
main .category .banner4 h1 {
  margin-top: 27px;
  width: 180px;
  height: 82px;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding-left: 19px;
  padding-top: 16px;
}
main .category .banner4 h1 span {
  line-height: 1.2;
  font-family: Lato;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 30px;
  color: #f16d7f;
}
main .product {
  grid-column: 1 / span 12;
  grid-row: product;
  display: grid;
  grid-template-columns: repeat(12, 68px);
  grid-column-gap: 30px;
  grid-template-rows: 51px 59px 745px 79px 48px;
}
main .product .products {
  grid-row: 3;
  grid-column: 1 / span 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .product h1 {
  grid-row: 1;
  grid-column: 6 / span 3;
  font-family: Lato;
  font-size: 30px;
  margin: 0 0;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: 16px;
}
main .product p {
  grid-row: 1;
  grid-column: 5 / span 4;
  font-family: Lato;
  font-size: 14px;
  margin-top: 46px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
main .product .prodCarts {
  height: 342px;
  width: 263px;
  justify-content: space-around;
}
main .product .prodCarts a:nth-child(1) {
  width: 261px;
  height: 280px;
  text-decoration: none;
}
main .product .prodCarts a:nth-child(1) #p1 {
  width: 261px;
  height: 280px;
  background-image: url(img/produtc1.png), url(img/background_1215.png);
}
main .product .prodCarts a:nth-child(1) #p1:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/produtc1.png);
}
main .product .prodCarts a:nth-child(1) #p2 {
  width: 261px;
  height: 280px;
  background-image: url(img/product2.png), url(img/background_1215.png);
}
main .product .prodCarts a:nth-child(1) #p2:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/product2.png);
}
main .product .prodCarts a:nth-child(1) #p3 {
  width: 261px;
  height: 280px;
  background-image: url(img/product3.png), url(img/background_1215.png);
}
main .product .prodCarts a:nth-child(1) #p3:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/product3.png);
}
main .product .prodCarts a:nth-child(1) #p4 {
  width: 261px;
  height: 280px;
  background-image: url(img/product4.png), url(img/background_1215.png);
}
main .product .prodCarts a:nth-child(1) #p4:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/product4.png);
}
main .product .prodCarts a:nth-child(1) #p5 {
  width: 261px;
  height: 280px;
  background-image: url(img/product5.png), url(img/background_1215.png);
}
main .product .prodCarts a:nth-child(1) #p5:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/product5.png);
}
main .product .prodCarts a:nth-child(1) #p6 {
  width: 261px;
  height: 280px;
  background-image: url(img/product6.png), url(img/background_1215.png);
}
main .product .prodCarts a:nth-child(1) #p6:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/product6.png);
}
main .product .prodCarts a:nth-child(1) #p7 {
  width: 261px;
  height: 280px;
  background-image: url(img/product7.png), url(img/background_1215.png);
}
main .product .prodCarts a:nth-child(1) #p7:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/product7.png);
}
main .product .prodCarts a:nth-child(1) #p8 {
  width: 261px;
  height: 280px;
  background-image: url(img/product8.png), url(img/background_1215.png);
}
main .product .prodCarts a:nth-child(1) #p8:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/product8.png);
}
main .product .prodCarts a:nth-child(1) button {
  display: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 163px;
  left: 70px;
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
main .product .prodCarts a:nth-child(1):hover {
  width: 261px;
  height: 280px;
}
main .product .prodCarts a:nth-child(1):hover button {
  display: block;
  margin-bottom: -38.5px;
}
main .product .prodCarts h3 {
  margin: 0 auto;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 17px;
  margin-left: 14px;
  text-transform: uppercase;
  color: #222222;
}
main .product .prodCarts a:last-child {
  text-decoration: none;
  margin-left: 13px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
main .product button {
  grid-row: 5;
  grid-column: 6 / span 2;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  border: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding: 0;
  padding-left: 10px;
}
main .product .fa-long-arrow-alt-right {
  font-size: 15px;
  line-height: 54px;
  letter-spacing: 0.025em;
}
main .feature {
  display: grid;
  grid-row: feature;
  grid-column: 1 / span 12;
  grid-template-columns: repeat(12, 68px);
  grid-column-gap: 30px;
  width: 1140px;
  height: 529px;
  background-color: #222224;
}
main .feature .ofer {
  display: grid;
  grid-column: 1 / span 8;
  width: 767px;
  height: 529px;
  background-image: url(img/layer_39_1321.png), url(img/rectangle_21_copy_1314.png);
  grid-template-columns: repeat(8, 68px);
  grid-column-gap: 30px;
  grid-template-rows: 146px 80px;
}
main .feature .ofer div {
  grid-column: 1 / span 4;
  margin-left: 39px;
  grid-row: 2;
  /* Text styles for "30% " */
  /* 
            Text styles for "30% "
             */
  font-family: Lato;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  /* Text styles for "OFFER '" */
  /* 
            Text styles for "OFFER '"
             */
  /* Text styles for "FOR WOMEN" */
  /* 
            Text styles for "FOR WOMEN"
             */
}
main .feature .ofer div p {
  margin: 0 0;
  width: 80px;
}
main .feature .ofer div span:nth-child(1) {
  color: #f16d7f;
  grid-row: 1;
  margin-right: 150px;
}
main .feature .ofer div span:nth-child(2) {
  font-size: 32.2px;
}
main .feature aside {
  display: grid;
  grid-column: 9 / span 4;
  grid-template-columns: repeat(4, 68px);
  grid-column-gap: 30px;
  grid-template-rows: 55px 20px 17px 59px 61px 16px 21px 58px 61px 20px 17px 58px 66px;
}
main .feature aside #forma1 {
  grid-column: 1;
  grid-row: 2;
}
main .feature aside #forma2 {
  grid-column: 1;
  grid-row: 6;
}
main .feature aside #forma3 {
  grid-column: 1;
  grid-row: 10;
}
main .feature aside h3 {
  margin: 0 0;
  grid-column: 2 / span 2;
  grid-row: 2;
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
main .feature aside p {
  margin: 0 0;
  grid-column: 2 / span 3;
  grid-row: 4;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-right: 22px;
}
main .feature aside h4 {
  margin: 0 0;
  grid-column: 2 / span 2;
  grid-row: 6;
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
main .feature aside div {
  margin: 0 0;
  grid-column: 2 / span 3;
  grid-row: 8;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-right: 22px;
}
main .feature aside h5 {
  margin: 0 0;
  grid-column: 2 / span 2;
  grid-row: 10;
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
main .feature aside h6 {
  margin: 0 0;
  grid-column: 2 / span 3;
  grid-row: 12;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-right: 22px;
}
main .group17 {
  display: grid;
  grid-row: subsrib;
  grid-column: 1 / span 6;
  grid-template-columns: repeat(6, 68px);
  grid-column-gap: 30px;
  grid-template-rows: 123px 70px 19px 29px 55px 4px 156px;
}
main .group17 img {
  grid-row: 2;
  grid-column: 1;
}
main .group17 p {
  margin: 0 0;
  grid-row: 2;
  grid-column: 2 / span 5;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}
main .group17 h6 {
  margin: 0 0;
  grid-row: 4;
  grid-column: 2 / span 2;
  /* Text styles for "Bin Burhan'" */
  /* 
            Text styles for "Bin Burhan'"
             */
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  /* Text styles for "Dhaka, Bd" */
  /* 
            Text styles for "Dhaka, Bd"
             */
  margin-left: 15px;
}
main .group17 h6 span {
  position: relative;
  top: 0px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}
main .group17 .buttons {
  grid-column: 2 / span 3;
  grid-row: 6;
  border: none;
}
main .group17 .buttons button {
  border: none;
  margin-right: 8px;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
main .group17 .buttons button:focus {
  background-color: #f16d7f;
}
main .group6 {
  display: grid;
  grid-row: subsrib;
  grid-column: 7 / span 6;
  grid-template-columns: repeat(6, 68px);
  grid-column-gap: 30px;
  grid-template-rows: 148px 41px 35px 46px 168px;
}
main .group6 h2 {
  grid-column: 2 / span 4;
  grid-row: 2;
  margin-top: -20px;
  position: relative;
  top: -20px;
  text-align: center;
  margin: 0 0;
  /* Text styles for "Subscribe'" */
  /* 
            Text styles for "Subscribe'"
             */
  font-family: Lato;
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
  /* Text styles for " FOR OUR NEWLETTER AND PROMOTION" */
  /* 
            Text styles for " FOR OUR NEWLETTER AND PROMOTION"
             */
}
main .group6 h2 span {
  position: relative;
  top: -25px;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
main .group6 form {
  grid-column: 2 / span 4;
  grid-row: 4;
  margin-left: 30px;
}
main .group6 form input[type=email] {
  padding-left: 28px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px;
  border: none;
}
main .group6 form input[type=email] input[type=email]::placeholder {
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}
main .group6 form input[type=submit] {
  position: relative;
  top: -46px;
  left: 282px;
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: none;
}
.slider-copy {
  grid-row: subsrib;
  grid-column: 1 / span 12;
  height: 438px;
  background-image: url(img/rectangle_bk.png), url(img/rectangle_bk1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: unset;
}
footer {
  display: grid;
  margin: 0 auto;
  grid-column: 1 / span 12;
  grid-row: footer;
  grid-template-rows: 35px 45px 180px 89px 79px;
}
footer .footer-back {
  grid-column: 1 / span 12;
  grid-row: 6;
  height: 79px;
  background-color: #e6e6e6;
}
footer .footer-top {
  display: grid;
  margin: 0 auto;
  grid-row: 1 / span 5;
  grid-column: 1 / span 12;
  grid-template-columns: repeat(12, 68px);
  grid-column-gap: 30px;
  grid-auto-flow: column;
}
footer .footer-top .logo-footer {
  display: grid;
  grid-row: 1;
  grid-auto-flow: column;
  grid-column: 1 / span 2;
  margin: 0 0;
  width: 164px;
  height: 51px;
}
footer .footer-top .logo-footer img {
  margin-bottom: 8px;
  height: 59px;
  width: 51px;
  margin-right: 13px;
}
footer .footer-top .logo-footer h3 {
  grid-row: 1;
  grid-column: 2;
  margin: 0 0;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  margin-top: 20px;
}
footer .footer-top .logo-footer h3 span {
  position: relative;
  top: 0.5px;
  margin-left: -6px;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 900;
  color: #f16d7f;
}
footer .footer-top .text-footer {
  display: grid;
  width: 440px;
  grid-row: 2 / span 3;
  grid-column: 1 / span 5;
  position: relative;
  top: -4px;
}
footer .footer-top .text-footer p {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin: 0;
}
footer .footer-top .text-footer h6 {
  font-family: Lato;
  position: relative;
  top: -15px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  margin: 0;
}
footer .footer-top .information {
  grid-row: 1 / span 4;
  grid-column: 9 / span 2;
}
footer .footer-top .information a {
  grid-row: 2;
  text-decoration: none;
  /* Text styles for "Home '" */
  /* 
              Text styles for "Home '"
               */
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  /* Text styles for "Shop'About'How It Works'Contact'" */
  /* 
              Text styles for "Shop'About'How It Works'Contact'"
               */
  line-height: 42px;
}
footer .footer-top .information h3 {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
footer .footer-top .shop-category {
  grid-row: 1 / span 4;
  grid-column: 11 / span 2;
}
footer .footer-top .shop-category a {
  grid-row: 2;
  text-decoration: none;
  /* Text styles for "Home '" */
  /* 
            Text styles for "Home '"
             */
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  /* Text styles for "Shop'About'How It Works'Contact'" */
  /* 
            Text styles for "Shop'About'How It Works'Contact'"
             */
  line-height: 42px;
}
footer .footer-top .shop-category h3 {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
footer .footer-top .company {
  grid-row: 1 / span 4;
  grid-column: 7 / span 2;
}
footer .footer-top .company a {
  grid-row: 2;
  text-decoration: none;
  /* Text styles for "Home '" */
  /* 
            Text styles for "Home '"
             */
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  /* Text styles for "Shop'About'How It Works'Contact'" */
  /* 
            Text styles for "Shop'About'How It Works'Contact'"
             */
  line-height: 42px;
}
footer .footer-top .company h3 {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
footer .footer-bot {
  display: grid;
  grid-column: 1 / span 12;
  grid-row: 6;
  z-index: 2;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 68px);
  grid-column-gap: 30px;
}
footer .footer-bot .socialLinks-footer {
  position: relative;
  top: 20px;
  grid-column: 11 / span 3;
  border: none;
}
footer .footer-bot .socialLinks-footer .fa-facebook-f {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
}
footer .footer-bot .socialLinks-footer .fa-twitter {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
}
footer .footer-bot .socialLinks-footer .fa-linkedin-in {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
}
footer .footer-bot .socialLinks-footer .fa-pinterest-p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
}
footer .footer-bot .socialLinks-footer .fa-google-plus-g {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #b2b2b2;
}
footer .footer-bot .socialLinks-footer button {
  border: none;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}
footer .footer-bot .socialLinks-footer button:hover {
  background-color: #f16d7f;
}
footer .footer-bot .socialLinks-footer button:active {
  opacity: 0.29;
  background-color: #ffffff;
}
footer .footer-bot p {
  grid-column: 1 / span 3;
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.content-product {
  display: grid;
  grid-template-rows: [header] 100px [navbar] 51px [breadcrumb] 148px 59px [products] 1475px 110px [feature-box] 341px [subsrib] 438px 109px [footer] 498px;
  justify-content: center;
}
.main-product {
  display: grid;
  grid-template-columns: repeat(12, 68px);
  grid-column-gap: 30px;
  grid-template-rows: [breadcrumb] 148px 59px [products] 1475px 110px [feature-box] 341px [subsrib] 438px;
  grid-row: breadcrumb / feature-box;
}
.main-product .breadcrumb {
  display: grid;
  grid-column: 1 / span 12;
  z-index: 2;
  grid-row: breadcrumb;
  align-content: center;
  grid-auto-flow: column;
}
.main-product .breadcrumb h3 {
  margin: 0 0;
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}
.main-product .breadcrumb p {
  justify-self: end;
  margin: 0 0;
  /* Text styles for "Home / Men / " */
  /* 
Text styles for "Home / Men / "
 */
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
  /* Text styles for "New Arrivals " */
  /* 
Text styles for "New Arrivals "
 */
}
.main-product .breadcrumb p span:hover {
  font-weight: 700;
  color: #f16d7f;
}
.main-product .breadcrumb-back {
  grid-column: 1 / span 12;
  grid-row: breadcrumb;
  height: 148px;
  background-color: #f8f3f4;
  z-index: 0;
}
.main-product .products {
  display: grid;
  grid-auto-flow: column;
  grid-row-start: products;
  margin: 0 auto;
  grid-template-columns: repeat(12, 68px);
  grid-column-gap: 30px;
}
.main-product .products aside {
  grid-column: 1 / span 3;
}
.main-product .products aside .category-products div {
  display: grid;
  grid-column: 1 / span 3;
  grid-auto-flow: column;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  height: 37px;
  align-content: center;
  padding-left: 11px;
}
.main-product .products aside .category-products div h3 {
  margin: 0 ;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.main-product .products aside .category-products div i {
  width: 9px;
  height: 6px;
  justify-self: end;
}
.main-product .products aside .category-products .dropdownP {
  display: none;
  position: relative;
  top: -16px;
  height: 470px;
  padding-top: 21px;
  padding-left: 14px;
  margin-bottom: 0px;
}
.main-product .products aside .category-products .dropdownP li {
  list-style: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}
.main-product .products aside .category-products .dropdownP li a {
  font-family: Lato;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}
.main-product .products .prod {
  display: grid;
  grid-column: 4 / span 9;
  grid-template-columns: repeat(9, 68px);
  grid-column-gap: 30px;
  grid-template-rows: 245px  1164px 60px 44px 110px;
}
.main-product .products .prod .top-filter {
  display: grid;
  grid-template-columns: repeat(9, 68px);
  grid-column-gap: 30px;
  height: 245px;
}
.main-product .products .prod .top-filter .trending {
  height: 79px;
  margin-left: 15px;
  display: flex;
  grid-column: 1 / span 2;
  flex-wrap: wrap;
}
.main-product .products .prod .top-filter .trending h3 {
  margin-top: 10px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.main-product .products .prod .top-filter .trending p {
  color: #dfdfdf;
}
.main-product .products .prod .top-filter .trending p span {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.main-product .products .prod .top-filter .size {
  grid-column: 4 / span 3;
  display: grid;
  grid-auto-flow: row;
  height: 73px;
}
.main-product .products .prod .top-filter .size h3 {
  width: 363px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-bottom: 30px;
}
.main-product .products .prod .top-filter .size .form-check {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  height: 39px;
}
.main-product .products .prod .top-filter .size .form-check-label {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-bottom: 13px;
  height: 20px;
}
.main-product .products .prod .top-filter .size .form-check-label .form-check-input {
  display: none;
}
.main-product .products .prod .top-filter .size .form-check-label .fake {
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  position: relative;
  margin-right: 9px;
}
.main-product .products .prod .top-filter .size .form-check-label .fake::before {
  content: '';
  position: absolute;
  top: 10%;
  right: 0.5%;
  width: 15px;
  height: 15px;
  background-image: url(img/check.png);
  background-size: 100%;
  opacity: 0;
  transition: 0.2s;
}
.main-product .products .prod .top-filter .size .form-check-label .form-check-input:checked + .fake::before {
  opacity: 1;
}
.main-product .products .prod .top-filter .size .form-check-label p {
  margin: 0 0;
  position: relative;
  top: -4px;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}
.main-product .products .prod .top-filter .price {
  grid-column: 7 / span 3;
  height: 73px;
}
.main-product .products .prod .top-filter .price .range-filter {
  width: 260px;
  margin-bottom: 27px;
}
.main-product .products .prod .top-filter .price .range-controls {
  position: relative;
  height: 14px;
  padding-top: 10px;
  border-radius: 5px;
}
.main-product .products .prod .top-filter .price .range-controls .scale {
  width: 262px;
  height: 6px;
  background-color: #f0f0f0;
  border-radius: 3px;
}
.main-product .products .prod .top-filter .price .range-controls .bar {
  width: 124px;
  height: 6px;
  background-color: #f16d7f;
  margin-left: 31px;
}
.main-product .products .prod .top-filter .price .range-controls .toggle {
  position: absolute;
  top: 6px;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: #f16d7f;
  border-radius: 50%;
  cursor: pointer;
}
.main-product .products .prod .top-filter .price .range-controls .toggle-min {
  left: 11%;
}
.main-product .products .prod .top-filter .price .range-controls .toggle-max {
  left: 56.1%;
}
.main-product .products .prod .top-filter .price h3 {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.main-product .products .prod .top-filter .price p {
  display: grid;
  margin: 0px;
  grid-auto-flow: column;
  width: 262px;
}
.main-product .products .prod .top-filter .price p span {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.main-product .products .prod .top-filter .price p span:nth-child(2) {
  justify-self: end;
}
.main-product .products .prod .top-filter .sort-by {
  grid-column: 1 / span 9;
  height: 50px;
  background-color: #f3f3f3;
  padding: 10px 9px;
}
.main-product .products .prod .top-filter .sort-by .btn {
  width: 64px;
  height: 28px;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}
.main-product .products .prod .top-filter .sort-by button:nth-child(2) {
  position: relative;
  bottom: 1px;
  left: -10px;
  width: 78px;
  padding: 0px;
  margin: 0;
}
.main-product .products .prod .top-filter .sort-by button:nth-child(2) span {
  margin-right: 18px;
}
.main-product .products .prod .top-filter .sort-by .btn-sort {
  width: 62px;
  position: relative;
  bottom: 1px;
  left: -10px;
  padding: 0px;
  margin: 0;
}
.main-product .products .prod .top-filter .sort-by .btn-sort span {
  margin-right: 18px;
}
.main-product .products .prod .slips {
  grid-column: 1 / span 9;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-product .products .prod .slips .slip {
  height: 342px;
  width: 263px;
  justify-content: space-around;
}
.main-product .products .prod .slips .slip a:nth-child(1) {
  width: 261px;
  height: 280px;
  text-decoration: none;
}
.main-product .products .prod .slips .slip a:nth-child(1) #s1 {
  width: 261px;
  height: 280px;
  background-image: url(img/s1.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s1:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s1.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s2 {
  width: 261px;
  height: 280px;
  background-image: url(img/s2.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s2:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s2.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s3 {
  width: 261px;
  height: 280px;
  background-image: url(img/s3.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s3:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s3.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s4 {
  width: 261px;
  height: 280px;
  background-image: url(img/s4.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s4:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s4.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s5 {
  width: 261px;
  height: 280px;
  background-image: url(img/s5.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s5:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s5.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s6 {
  width: 261px;
  height: 280px;
  background-image: url(img/s6.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s6:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s6.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s7 {
  width: 261px;
  height: 280px;
  background-image: url(img/s7.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s7:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s7.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s8 {
  width: 261px;
  height: 280px;
  background-image: url(img/s8.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s8:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s8.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s9 {
  width: 261px;
  height: 280px;
  background-image: url(img/s9.png), url(img/background_1215.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) #s9:hover {
  width: 261px;
  height: 280px;
  background-image: url(img/background_1215.png), url(img/s9.png);
}
.main-product .products .prod .slips .slip a:nth-child(1) button {
  display: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 163px;
  left: 70px;
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.main-product .products .prod .slips .slip a:nth-child(1):hover {
  width: 261px;
  height: 280px;
}
.main-product .products .prod .slips .slip a:nth-child(1):hover button {
  display: block;
  margin-bottom: -38.5px;
}
.main-product .products .prod .slips .slip h3 {
  margin: 0 auto;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 17px;
  margin-left: 14px;
  text-transform: uppercase;
  color: #222222;
}
.main-product .products .prod .slips .slip a:last-child {
  text-decoration: none;
  margin-left: 13px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.main-product .products .prod .buttons-num {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1 / span 9;
  grid-row: 4;
}
.main-product .products .prod .buttons-num div {
  width: 270px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  display: grid;
  padding-top: 10px;
  padding-bottom: 18px;
}
.main-product .products .prod .buttons-num div i {
  font-size: 20.2px;
  line-height: 26px;
  font-weight: 600;
  color: #aaaaaa;
  margin-right: 15px;
  margin-left: 15px;
}
.main-product .products .prod .buttons-num div i:hover {
  color: #ef5b70;
}
.main-product .products .prod .buttons-num div p {
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  align-self: center;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #c4c4c4;
}
.main-product .products .prod .buttons-num div p span {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #c4c4c4;
  margin-right: 10px;
}
.main-product .products .prod .buttons-num div p span:nth-child(7) {
  margin-right: 0px;
}
.main-product .products .prod .buttons-num div p span:hover {
  color: #ef5b70;
}
.main-product .products .prod .buttons-num button {
  justify-self: end;
  width: 150px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #ef5b70;
}
.main-product .feature-box-back {
  grid-row: feature-box;
  z-index: -1;
  height: 341px;
  background-color: #222224;
}
.main-product .feature-box {
  grid-row: feature-box;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}
.main-product .feature-box div {
  display: grid;
  justify-content: center;
  margin-right: 81px;
  align-items: stretch;
  grid-template-rows: 49px 47px 32px 22px 19px 35px 110px;
}
.main-product .feature-box div img {
  justify-self: center;
  grid-row: 2;
}
.main-product .feature-box div h3 {
  margin: 0;
  grid-row: 4;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.main-product .feature-box div p {
  margin: 0;
  width: 320px;
  grid-row: 6;
  font-family: Lato;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
